@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;300;500&display=swap");

:root {
  --col1: white;
  --col2: #fa6102;
  --col3: #dfdfdf;
  --col4: #022550;
  --col5: #d1dae8;
  --col6: #f2f2f2;
  --col7: #dddddd;
  --col8: red;
  --col9: #007bff;
  --col10: #6c757d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Slick Slider dots css*/
.slick-dots li button::before {
  font-size: 10px;
  color: #fff;
  opacity: 0.7;
}

.slick-dots li.slick-active button::before {
  color: #fff;
  opacity: 1;
}

/*......*/
/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border: 1px solid #3ac7d4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3ac7d4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #268d96;
}
/*-----*/
p {
  line-height: 160% !important;
  font-size: 1rem !important;
  color: #fff;
  font-weight: 300 !important;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.spinner-container {
  background-color: rgba(255, 255, 255, 0);

  border-radius: 8px;
}

.BrandLogoHarbinger {
  animation: rotation 15s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.img-rotation {
  animation: rotation 2s infinite linear; /* Adjust the duration (2s in this example) */
}
.previewImage {
  display: inline-block;
  width: 17%;
  border: 1px solid #fff;
}
.previewImage2 {
  display: inline-block;
  width: 100px;
  height: auto;
  border: 1px solid #fff;
}
.alignInputandPreview {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  gap: 5rem;
}
a.icon img {
  width: 34px;
  display: block;
  padding: 5px;
  float: right;
}

/* html {
  scroll-behavior: smooth;
} */
body {
  font-family: "Sora", sans-serif;
  color: white;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.authorName {
  font-family: "Sora", sans-serif;
}
.postContent {
  margin-top: 1rem;
}
a {
  text-decoration: none;
  color: white;
}
.sec1 {
  position: relative;
  padding: 4rem 4em;
}

#customNavBar {
  position: fixed !important;
}

#navSubItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.logoText {
  color: #fff;
  margin-left: 15px;
}
.navMenuItemsInner {
  display: flex;
  gap: 15px;
}
.navMenuItemsInner > * {
  color: #fff !important;
}
#menuContainerCustomClass {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.navbarr {
  color: white !important;
  overflow: hidden !important;
  backdrop-filter: blur(8px) !important;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 20px;
    padding-right: 30px; */
  padding: 16px 30px;
  background-color: rgb(0 0 0 / 16%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.clear {
  clear: both;
}
.hd1 {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
}
.hd11 {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}
.hd2 {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}
.hd3 {
  color: #fff;

  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.hd3 a {
  padding: 15px 30px 15px 30px;
  border: none;
  background-color: #21217a;
  text-decoration: none;
  color: #fff;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.hd3 a:hover {
  box-shadow: #21217a 0 0 16px 0;
  color: #fff;
}
.hd1 h2 {
  color: white;
  display: inline-block;
  vertical-align: bottom;
  text-transform: uppercase;
}
.hd2 ul {
  text-align: center;
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
}
.hd2 li {
  display: inline-block;
  padding: 25px;
}
li.mbibutton {
  display: none;
}
.hd2 li a {
  color: white;
}
.hd2 li a:hover {
  transition: transform 0.8s;
  text-decoration: underline;
  text-underline-offset: 8px;
  cursor: pointer;
}
.item {
  /* float: left;*/
  width: 100%;
  padding: 24px 10px;
}
.row {
  margin: 0 -5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
a.icon {
  display: none;
}
#section1 {
  margin-top: 5rem;
}
.sec1 {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url("/head-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sec1 h1 {
  text-align: center;
  text-shadow: 0 0 16px #21217a;
  color: white;
  margin-top: 60px;
  margin-bottom: 25px;
  font-size: 48px;
  line-height: 1.2;
}
.cardd {
  text-align: center;
  background-color: #1a1f2eeb;
  border: 1px solid #21217a;
  box-shadow: 0 0 16px 0 #5075f2;
  border-radius: 25px;
  width: 100%;
}
.cardd a {
  display: block;
  padding: 15px 30px 15px 30px;
  background-color: #21217a;
  border: none;
  text-decoration: none;
  color: white;
  border-radius: 18px;
  font-family: Sora, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.cardd a:hover {
  box-shadow: #21217a 0 0 16px 0;
}
.card1,
.card2,
.card3,
.card4 {
  background-size: cover;
  border-radius: 25px 25px 0px 0px;
  padding: 60px;
  align-items: center;
  text-align: center;
}
.card1 {
  background-image: url("/key1-1.png");
}
.card2 {
  background-image: url("/key1-2.png");
}
.card3 {
  background-image: url("/key1-3.png");
}
.card4 {
  background-image: url("/key1-4.png");
}
.crd {
  padding: 0px;
  margin: 10px;
}
.crd h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.sec2 {
  width: 100%;
  background-image: url("/art-bg.jpg");
  background-position: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1b2434;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  display: block;
}
.sec2-0 {
  color: white;
  font-family: Sora, sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 100%;
  margin: 20px;
}
.sc2 {
  display: block;
  margin: 20px;
  padding-bottom: 40px;
  padding-top: 20px;
  overflow: auto;
  border-bottom: 1px solid #7c7c59;
}
.sec2-1-1 ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
}
.sec2-2 {
  float: right;
  padding-left: 20px;
}
.sec2-1 img {
  width: 24px;
  height: 24px;
}
.sec2-2 img {
  width: 227.3px;
  height: 256px;
  border-radius: 2px;
  box-shadow: #21217a 0 0 16px 0;
}
.sec2-1-2 {
  margin-bottom: 20px;
}
.sec2-1-2 h5 {
  color: #fff;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Sora, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  text-decoration: none;
}
.sec2-1-2 p {
  color: #fff;
  letter-spacing: -0.02em;
  margin-bottom: 35px;
  font-family: Sora, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 160%;
  display: block;
}
.sec2-1-2 a {
  padding: 15px 30px 15px 30px;
  background-color: rgb(32 39 64);
  border: 2px solid #21217a;
  text-decoration: none;
  color: white;
  /* margin: 0 11px; */
  margin: 0;
  border-radius: 25px;
  font-family: Sora, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.sec2-1-2 a:hover {
  box-shadow: #21217a 0 0 16px 0;
}

.sc3 {
  margin-top: 60px;
  margin-bottom: 45px;
  text-align: center;
}

.sc3 a {
  text-decoration: none;
  padding: 15px 30px 15px 30px;
  background-color: #21217a;
  border: none;
  color: white;
  border-radius: 25px;
  font-family: Sora, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
.sc3 a:hover {
  box-shadow: #21217a 0 0 16px 0;
}
.sc5 {
  display: block;
  color: white;
  border: 2px solid #21217a;
  background-color: rgba(26, 31, 46, 0.64);
  box-shadow: #21217a 0 0 16px 0;
  padding: 20px;
  margin-top: 35px;
  border-radius: 25px;
}
.sc5-1 {
  width: 79%;
  display: inline-block;
  font-weight: 100;
}
.sc5-2 {
  text-align: center;
  width: 19%;
  float: right;
  margin-top: 40px;
}
.sc5-1 h1 {
  color: white;
  text-align: left;
  text-shadow: 0 0 16px #21217a;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Sora, sans-serif;
  font-size: 48px;
  line-height: 1.2;
}
.sc5-2 a {
  text-decoration: none;
  padding: 15px 17px;
  background-color: #21217a;
  margin-top: 20px;
  border: none;
  color: white;
  border-radius: 25px;
  font-family: Sora, sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  display: block;
}
.sc5-2 a:hover {
  box-shadow: 0 0 16px 0 #21217a;
}
.sec3 {
  background: #111927 url("/bg.jpg");
}
.sec4 {
  background: #111927 url("/comm.jpg");
}
.sec3,
.sec4 {
  width: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 60px 30px;
}
.sec3-1 .sec3-1-1,
.sec4-1 .sec3-1-1 {
  margin-bottom: 10px;
}
.sec4-1,
.sec3-1 {
  background-color: rgb(26 31 46 / 86%);
  border: 2px solid #21217a;
  box-shadow: #21217a 0 0 16px 0;
  border-radius: 25px;
  padding: 20px;
  padding: 3rem 1.5rem;
}
.sec3 h3,
.sec4 h3 {
  color: white;
  text-shadow: 0 0 16px #21217a;
  letter-spacing: -0.02em;
  margin-top: 0;
  /* margin-bottom: 10px; */
  font-size: 48px;
  line-height: 120%;
}
.sec3 p,
.sec4 p {
  text-align: left;
  /* font-size: 1.125rem;*/
  font-weight: 100;
  line-height: 140%;
  padding-top: 10px;
  margin-bottom: 30px;
}
.sec3 a,
.sec4 a {
  width: auto;
  border: 1px solid #21217a;
  background-color: #21217a;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 16px;
  padding: 12px 32px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s;
  position: relative;
}
.sec3 a:hover,
.sec4 a:hover {
  box-shadow: #21217a 0 0 16px 0;
}
.owl-theme .owl-nav {
  display: none;
}
/* Footer CSS */

footer {
  background-image: url("/footer.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgb(5 5 5 / 23%);
  color: white;
  padding: 4rem 4em;
  padding-bottom: 1em;
}
.ftr2 {
  border-top: 0.5px solid white;
  border-bottom: 0.5px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 20px;
}
.ftr2-1 {
  width: 39%;
  display: inline-block;
  margin-right: 20px;
}
.ftr2-2 {
  width: 29%;
  display: inline-block;
  vertical-align: top;
}
.ftr2-1-1 h2 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
footer a {
  text-decoration: none;
  color: white;
}
.ftr1-1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  display: inline-block;
}
.ftr1-2 {
  text-align: right;
  display: inline-block;
  float: right;
  padding: 0;
  /* margin: 20px 0 0 0; */
}
.ftr1-2 a {
  padding: 12px 12px 14px 12px;
  margin-right: 6px;
  transition: 0.8s ease;
  border-radius: 50px;
}
.ftr2-2 strong {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}
.ftr1-2 img {
  width: 24px;
  height: 24px;
}
.ftr1-2 a:hover {
  box-shadow: white 0 0 16px 0;
  border-radius: 50px;
  transition: 0.8s;

  background: #21217a;
}
.ftr2-2 a {
  margin-top: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  transition: all 0.3s, opacity 0.2s;
  display: block;
}
.ftr2-2 a:hover {
  color: #7e7ee8;
  /*  font-size: 110%;
    transition: transform .8s;
    text-decoration: underline;
    text-underline-offset: 8px;*/
}
.ftr3 {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}
.owl-carousel .owl-item img {
  width: 118px !important;
  margin: 0 auto !important;
}
.sliderLink {
  color: #fff;
}

/*css admin pannel HEADER*/
.navbarr2 {
  color: white !important;
  overflow: hidden !important;
  backdrop-filter: blur(15px) !important;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 20px;
    padding-right: 30px; */
  padding: 16px 30px;
  background-color: rgb(0 0 0 / 16%);
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.headerSec1 {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerSec1 > * {
  display: flex;
  align-items: center;

  gap: 10px;
}
.headerSec1 h4 {
  color: #fff;
}
.logOutbtn {
  font-family: Sora, sans-serif;
  color: var(--col1);
  border-color: var(--col4);
  cursor: pointer;
  background-color: #0f2550;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 10px;
}
.OffCanvasBodyBlur {
  color: white !important;

  backdrop-filter: blur(8px) !important;

  background-color: rgb(0 0 0 / 16%) !important;
}

.OffCanvasLinks {
  border-bottom: 1px dashed #fff !important;
}
.offCanvasLogo {
  width: 30px;
  margin-right: 14px;
}

.btn-close {
  color: #fff !important;
  background-color: #fff !important;
}

/**/
@media screen and (max-width: 1024px) {
  .hd1 {
    width: 29%;
  }
  .hd2 li {
    padding: 16px;
  }
  .hd3 a {
    padding: 10px 20px 10px 20px;
  }
  .card1,
  .card2,
  .card3,
  .card4 {
    padding: 50px;
  }
  .ftr2-1 {
    width: 38%;
  }
}
@media (max-width: 992px) {
  #menuContainerCustomClass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .navMenuItemsInner {
    margin-top: 10px;

    flex-direction: column;
  }
  #actualLink {
    margin-bottom: 1px dashed #fff !important;
  }
  .hd3 {
    display: inline-block;
    width: auto;
  }
  #navSubItem {
    display: block;
    float: left;
  }
  .hd3 {
    margin-top: 15px;
    margin-left: -10px;
  }
}
@media screen and (max-width: 936px) {
  .navbarr {
    padding: 10px;
  }
  .hd1 {
    width: 31%;
  }
  .hd2 {
    width: 48%;
  }
  .hd2 li {
    padding: 14px;
  }
  .hd3 a {
    padding: 10px 19px 10px 19px;
  }
  .item {
    display: block;
    color: white;
    width: 100%;
  }
  .cardd {
    width: 100%;
    float: left;
    margin: 0 1% 15px 1%;
  }
}
@media screen and (max-width: 890px) {
  .hd2 {
    width: 49%;
  }
  .hd2 li {
    padding: 10px;
  }
  .hd3 a {
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-toggler-icon {
    font-size: 0.8em;
  }
  .sec1topHeading {
    font-size: 40px !important;
  }
  .hd1 img {
    float: left;
    width: 66px;
    padding: 0 0 0 9px;
  }
  .hd1 h2 {
    font-size: 16px;
    font-weight: 400;
  }
  .hd1 {
    width: 30%;
    display: flex;
    align-items: center;
  }
  .hd2 li {
    padding: 10px 3px;
  }
  .hd3 a {
    padding: 10px 7px;
    display: block;
  }
  .navbarr {
    padding: 0;
  }
  .item {
    display: block;
    color: white;
    width: 100%;
  }
  .cardd {
    width: 100%;
    float: left;
    margin: 0 1% 15px 1%;
  }
  .sec1 {
    padding-top: 80px;
  }
  .sec2-0 {
    font-size: 35px;
    font-weight: 400;
  }

  .sec2-2 img {
    width: 100%;
    margin-bottom: 20px;
  }
  .sec2-2 {
    float: NONE;
    text-align: center;
    padding-left: 0;
  }
  .sc5 {
    display: block;
  }
  .sc5-1 {
    width: 100%;
  }
  .sc5-2 {
    width: 100%;
    float: none;
  }
  .ftr2-1 {
    width: 42%;
  }
  .ftr2-2 {
    width: 25%;
  }
}

@media screen and (max-width: 715px) {
  .hd2 li a {
    color: white;
    font-size: 14px;
  }
  .hd3 a {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
  .card1 img {
    width: 40px;
  }
}

@media screen and (max-width: 640px) {
  .headerSec1 h4 {
    font-size: 18px;
  }
  .headerSec1 img {
    width: 55px;
  }
  .navbar-toggler-icon {
    font-size: 0.4em;
    margin-bottom: 4px;
  }
  .hd3 {
    width: 100%;
  }
  .hd3 {
    margin-bottom: 0;
  }
  .sc3 {
    margin-top: 20px;
  }
  .sec2-1-2 a {
    display: block;
  }
  .sc3 a {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }
  .item {
    width: 100%;
  }

  .ftr1-2 {
    float: none;
    margin: 0px;
  }
  .ftr2-1 {
    width: auto;
  }
  .ftr2-2 {
    width: 49%;
  }
  .sec3 a,
  .sec4 a {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 640px) {
  .alignInputandPreview {
    gap: 1rem;
  }
  .hd1 {
    width: 73% !important;
  }
  .hd2 {
    width: 100% !important;
    display: block;
  }
  li.mbibutton {
    display: block;
  }
  a.icon {
    position: absolute;
    top: 22px;
    right: 20px;
    display: block;
  }
  #myLinks {
    display: none;
  }
  ul#myLinks {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #0000007d;
    border-top: 1px solid #000;
  }
  .hd2 li {
    padding: 10px;
    width: 100%;
    text-align: left;
    display: block;
  }

  .cardd {
    margin: 0 1% 15px 0%;
  }
  .sec2 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .sc2 {
    margin: 20px 15px;
  }
  .sec3,
  .sec4 {
    padding: 60px 15px;
  }

  footer {
    padding: 2rem 5px;
  }
  .hd1 {
    padding: 10px 0 0 8px;
  }
  .hd1 h2 {
    font-size: 17px;
    font-weight: 400;
    vertical-align: top;
  }
  .navbarr {
    padding: 0;
    margin: 0;
  }
  .sec2-1-1 ul {
    gap: 8px;
    padding: 0;
    font-weight: 300;
  }
  .previewImage {
    display: inline-block;
    width: 100px;
    height: auto;
    border: 1px solid #fff;
  }
}
@media screen and (max-width: 600px) {
  .item {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  #menuContainerCustomClass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;

    padding-right: 10px !important;
  }
  #navSubItem {
    padding-left: 25px;
  }
}
@media (max-width: 470px) {
  .headerSec1 h4 {
    font-size: 15px;
  }
  .headerSec1 img {
    width: 40px;
  }
  .navbar-toggler-icon {
    font-size: 0.3em;
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 376px) {
  .sc3 {
    margin-top: 20px;
  }
  .sc3 a {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }
  .sec2-0 {
    font-size: 2rem;
    padding-left: 20px;
  }
  .sec2-1-2 a {
    display: block;
  }
  .sec2-1-2 p {
    font-size: 14px;
    font-weight: 400;
  }
  .sec2-1-2 h5 {
    font-size: 20px;
  }
  .sc5-1 h1 {
    font-size: 27px;
  }
  .sc5-1 p {
    font-size: 14px;
  }
  .sec3 a,
  .sec4 a {
    padding: 9px;
    display: block;
    margin-bottom: 20px;
  }
  .sec3 h3,
  .sec4 h3 {
    font-size: 24px;
  }
  .sec3 p,
  .sec4 p {
    font-size: 14px;
  }
  footer {
    padding: 2rem 2em;
  }
  .ftr2-2 {
    width: 49%;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 376px) {
  .sec1 h1 {
    text-align: center;
    text-shadow: 0 0 16px #21217a;
    color: white;
    margin-top: 60px;
    margin-bottom: 25px;
    font-size: 35px !important;
    line-height: 1.2;
  }
}
