.mainSection {
  padding: 1rem 2rem 1rem 2rem;
  font-family: "Sora", sans-serif;
  background-image: url("/images/comm.jpg");
}
.hdr {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  border-radius: 10px;
  background-color: var(--col3);
  padding: 15px 15px;
  margin-bottom: 5px;
  color: var(--col2);
  display: flex;
  gap: 1rem;
  align-items: center;
}

.hdr h2 {
  font-size: 20px;
  font-weight: 800;
}
.main {
  position: relative;
  /* background-color: var(--col1); */
  background-color: rgba(0, 0, 0, 0.64);
  color: var(--col1);
  font-size: 14px;
  padding: 0px 10px;
  margin: 2rem 1.5rem;
  border: 1px solid var(--col4);
  border-radius: 10px;
  padding: 2rem 2.5rem;
}
.main .container {
  margin-top: 5rem;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.tbl {
  margin-top: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid var(--col7);
}
.tbhead,
.tbb td {
  text-align: center;
  vertical-align: middle;
  padding: 16px;
  border: 1px solid var(--col7);
}
.tbb tr:nth-child(even) {
  background-color: var(--col6);
}
.fbtn {
  color: var(--col1);
  border-color: var(--col4);
  cursor: pointer;
  background-color: var(--col4);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 10px;
}
.icon1 {
  background-color: var(--col9);
}
.icon2 {
  background-color: var(--col10);
}
.icon1,
.icon2 {
  width: 2em;
  margin: 5px;
  padding: 5px;
  color: var(--col1);
  border-radius: 5px;
}
.icon1:hover,
.icon2:hover {
  cursor: pointer;
  background-color: var(--col1);
  color: var(--col8);
}
.ftr {
  background-image: url("/images/head-bg.jpg");
  background-position: center bottom;
  color: var(--col1);
}

@media (max-width: 920px) {
  .hdr h2 {
    font-size: 27px;
    font-weight: 800;
  }
}
